.card-full {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-full .ant-card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post-content {
  flex: 1 1 auto;
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;      /* 최대 3줄 표시 */
  -webkit-box-orient: vertical;
}
.card-title-clamp,
.ant-card-head-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ant-card-actions {
  margin-top: auto;
}
